html {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    font-size: 7vw;
    font-family: 'Oswald';
    font-weight: bold;
    background-image: linear-gradient(to right, #F6C555, #91B493);
    padding: 0;
}

select.select{
    background-color: #FFD689;
    font-size: 3vw;

}

p.check{
    font-size: 2vw;
}
